// Home Page styles
.front-page-grid{
    height: 100vh;
    grid-template-rows: 75px 1fr;
}
.header-section{
    height: 100%;
}
.home-body-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-section{
    background-color: lime;
}

.content-section{
    background-color: blue;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}