.page-header{
    height: 75px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menu{
    // background-color: blue;
}
.menu-item{
    display: inline-block;
    margin-right: 25px;
}
.menu-item a{
    color: #fff;
}